html, body{
    padding: 0;
    margin: 0;
}

#banner{
    background-image: url("../images/banner.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover; 
    min-height: 85vh;
    margin-top: -16px;
    
}