.container-fluid{
    /* background: blue; */
    width: 35%;
    margin-top: 7%;
    border: 2px solid black;
}
h2{
    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background: green; */
}

form{
    /* background: yellow; */
    padding-top: 8%;
    padding-bottom: 8%;
}

p{
    margin-left: 3%;
}

#register{
    font-weight: bold;
}

#login{
    background: #cca300;
    border-color:#cca300;
}
